{% extends "layout.html" %}

{% block content %}
    <div class='top_header'>
        <h3>Edit Entry</h3>
    </div>
    <div>
        <div>
            <div align="center">
                <form action="/results" method="get">
                    <input type="submit" value="Cancel">
                </form>
            </div>
            <form action="/results" method="post">
                <div align="center">
                    <input type="submit" value="RE CALCULATE">
                </div>
                <div>
                    {% include 'stats_table.html' %}
                </div>>
            </form>
        </div>
    </div>
{% endblock %}
