{% extends "layout.html" %}

{% block content %}
<style>
    .top-intro {
        padding-bottom: 15px;
    }
    .goat-intro {
        text-align: center;
    }
    .instructions {
        line-height: 150%;
        font-weight: bold;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .calc-alert {
        text-align: center;
        background-color:rgba(235, 186, 186, 0.692);
        width:fit-content;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        padding-left: 2px;
    }
    .form-cont {
        padding-top: 5px;
    }
    .clear-button-cont {
        position: absolute;
        width: 100%;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .calc-button-cont {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 20%;
        padding-top: 15px;
        text-align: center;
    }
    .calc-button {
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        font-family:'Roboto',sans-serif;
        font-weight:bold;
        font-size: 26px;
        color:#FFFFFF;
        background-color:transparent;
        text-align:center;
        transition: all 0.2s;
        animation:bouncy 5s infinite linear;
        position: relative;
    }
    .calc-button:hover {
        color:#04171bcc;
        background-color:#FFFFFF;
    }
    @keyframes bouncy {
        0% { top:0em }
        40% { top:0em }
        43% { top:-0.9em }
        46% { top:0em }
        48% { top:-0.4em }
        50% { top:0em }
        100% { top:0em }
    }
    @media all and (max-width:30em) {
        .calc-button {
            display: block;
            margin: 0.4em auto;
        }
    }

</style>
        <div class="top-intro">
            <div class="goat-intro">
                <h3> Settle the argument for who is the GOAT once and for all!
                <br />Pick and choose which stats best suit YOUR greatest basketball player of all time.</h3>
            </div>
            <div class="instructions">
                <text>Instructions:
                <br />1. Input a weight from 1 to 10 indicating importance
                <br />2. Any category left blank will be excluded from consideration
                <br />3. When finished, click calculate!
                <br />4. Unless specified, all categories are per game averages over a players career.</text>
            </div>
        </div>
        <div class="form-cont">
            <form action="/results" method="post">
                <div class="calc-button-cont">
                    <input class="calc-button" type="submit" value="CALCULATE">
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="calc-alert">
                            {% for message in messages %}
                                <h3 style="color:rgb(180, 16, 16)">{{ message }}</h3>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div>
                    {% include 'stats_table.html' %}
                </div>
            </form>
            <div>
                <form action="/" method="get">
                    <div class="clear-button-cont">
                        <input class="clear-button" type="submit" value="Clear Entry">
                    </div>
                </form>
            </div>
        </div>
{% endblock %}