<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NBA Goat App</title>
        <link rel= "stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
        <h1 align="center"> NBA GOAT Calculator 🏀 </h1>
    </head>
    <body>
        <div class='top-header'>
            <h3>Welcome!</h3>
            <h3>This your very own NBA Greatest of All Time (G.O.A.T.) Calculator!</h3>
            <h3>Here you will be able to customize and create your customized statistical G.O.A.T</h3>
        </div>
        <div style="margin-left: 100px;">
            <p>Instructions:</p>
            <text>1. Input a number from 1 to 39 in order to choose statistical category.<br />
            2. Input a weight from 1 to 10 indicating indicating importance for G.O.A.T calculation<br />
            3. When finished enter 40 to calculate!</text>
        </div>
        <div>
            <p align="center">UNLESS SPECIFIED, ASSUME ALL CATEGORIES ARE PER GAME</p>
            <div style="margin-left: 100px;">
                <form action="/results" method="POST">
                    <p>REGULAR STATS:</p>
                    {%for i in range(0, reg_len)%}
                        <p>{{reg_stats[i]}}
                        <input type="number" id={{i}} name="weight{{i}}" min="1" max="10">
                        </p>
                    {%endfor%}
                    <p><br />ADVANCED STATS:</p>
                    {%for i in range(0, adv_len)%}
                        <p>{{adv_stats[i]}}<br />{{adv_desc[i]}}</p>
                        <input type="number" id={{i+reg_len}} name="weight{{i+reg_len}}" min="1" max="10">
                    {%endfor%}
                    <div align="center">
                        <input type="submit" value="CALCULATE">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>