<style>
    .stats-cont {
        display: table;
        width: 85%;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
        font-family: Poppins;
        font-size: 17px;
    }
    .stat-col-pad {
        padding: 10px;
        display: table-cell;
        width: 50%;
        overflow: visible;
        position: relative;
    }
    .stat-col {
        overflow: visible;
        position: relative;
        border-radius: 25px;
        -webkit-box-shadow: 0px 0px 15px 6px rgba(67,84,91,0.43); 
        box-shadow: 0px 0px 15px 6px rgba(67,84,91,0.43);
        background-color: #f1f1f1a8;
    }
    .stat-header {
        text-align: center;
        padding-top: 30px;
        font-size: 20px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .stat-list {
        height: 100%;
        padding-bottom: 20px;
    }
    .stats-nested {
        border-collapse: separate;
        table-layout: auto;
        width: 85%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    td.stat-nested-title {
        padding: 10px;
        width: 80%;
    }
    .stat-hide {
        display: none;
    }
    .stat-desc {
        cursor: pointer;
    }
    .stat-desc:hover + .stat-hide {
        display: block;
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 9px;
        background-color: #0000003a;
        border-radius: 10px;
    }
    td.stat-nested-val {
        text-align: center;
        padding: 5px;
    }
    .slider {
        cursor: pointer;
        border: 2px solid red;
    }
    .slider:hover {
        opacity: 1;
    }
    .slider-val {
        position: absolute;
    }
</style>
<div class="stats-cont">
    <div class="stat-col-pad">
        <div class="stat-col">
            <p class="stat-header">REGULAR STATS:</p>
            <div class="stat-list">
                <table class="stats-nested">
                    <!-- <p>REGULAR STATS:</p> -->
                    {% for i in range(0, reg_len) %}
                    <tr class="stat-nested-row">
                        <td class="stat-nested-title">{{ reg_stats[i] }}</td>
                        <td class="stat-nested-val">
                            {% if weight_dict[cat_dict[i+1]] %}
                                <input class="slider" type="range" id="range{{i}}" name="weight{{i}}" min="0" max="10" value="{{weight_dict[cat_dict[i+1]]}}">
                            {% else %}
                                <input class="slider" type="range" id="range{{i}}" name="weight{{i}}" min="0" max="10" value="0">
                            {% endif %}
                            <label for="range{{i}}" class="slider-val"><span id="demo1"></span></label>
                            <script>
                                var slide = document.getElementById("range".concat(({{i}}).toString()));
                                var output = document.getElementById("demo".concat((1).toString()));
                                output.innerHTML = slide.value;
                                
                                slide.oninput = function() {
                                  output.innerHTML = this.value;
                                }
                            </script>
                        </td>
                    </tr>
                    {% endfor %} 
                </table>
            </div>
        </div>
    </div>
    <div class="stat-col-pad">
        <div class="stat-col">
            <p class="stat-header">ADVANCED STATS:</p>
            <div class="stat-list">
                <table class="stats-nested">
                    <!-- <p>ADVANCED STATS:</p> -->
                    {% for i in range(0, adv_len) %}
                    <tr class="stat-nested-row">
                        <td class="stat-nested-title">
                            <div class="stat-desc">{{ adv_stats[i] }}</div>
                            <div class="stat-hide">{{ adv_desc[i] }}</div>
                        </td>
                        <td class="stat-nested-val">
                            {% if weight_dict[cat_dict[i+reg_len+1]] %}
                                <input class="slider" type="range" id="range{{i+reg_len}}" name="weight{{i+reg_len}}" min="0" max="10" value="{{weight_dict[cat_dict[i+reg_len+1]]}}">
                            {% else %}
                                <input class="slider" type="range" id="range{{i+reg_len}}" name="weight{{i+reg_len}}" min="0" max="10" value="0">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
